Repository PolicyEngine/policyengine-us, pull requests merged in 2022-07, with the labels that each got.

#1016 MA income tax fixes
  changelog.yaml
  openfisca_us/ma_part_b_agi.py
  openfisca_us/parameters/gov/states/ma/tax/income/credits/senior_circuit_breaker/amount/max.yaml
  openfisca_us/parameters/gov/states/ma/tax/income/credits/senior_circuit_breaker/amount/min_real_estate_tax.yaml
  openfisca_us/parameters/gov/states/ma/tax/income/credits/senior_circuit_breaker/amount/rent_tax_share.yaml
  openfisca_us/parameters/gov/states/ma/tax/income/credits/senior_circuit_breaker/eligibility/max_income.yaml
  openfisca_us/parameters/gov/states/ma/tax/income/credits/senior_circuit_breaker/eligibility/max_property_value.yaml
  openfisca_us/parameters/gov/states/ma/tax/income/credits/senior_circuit_breaker/eligibility/min_age.yaml
  openfisca_us/parameters/gov/states/ma/tax/income/credits/senior_circuit_breaker/income/disallowed_deductions.yaml
  openfisca_us/tests/policy/baseline/gov/states/ma/tax/income/credits/senior_circuit_breaker/ma_scb_total_income.yaml
  openfisca_us/tests/policy/baseline/gov/states/ma/tax/income/credits/senior_circuit_breaker/ma_senior_circuit_breaker.yaml
  openfisca_us/tests/policy/baseline/gov/states/ma/tax/income/general.yaml
  openfisca_us/tests/policy/baseline/gov/states/ut/tax/income/credits/ut_taxpayer_credit_max.yaml
  openfisca_us/tests/policy/baseline/gov/states/ut/tax/income/credits/ut_taxpayer_credit_reduction.yaml
  openfisca_us/tests/policy/baseline/gov/states/ut/tax/income/taxable_income/ut_taxable_income.yaml
  openfisca_us/tests/policy/baseline/gov/states/ut/tax/income/ut_income_tax_before_credits.yaml
  openfisca_us/tests/policy/baseline/gov/states/ut/tax/income/ut_total_income.yaml
  openfisca_us/variables/gov/irs/income/taxable_income/adjusted_gross_income/irs_gross_income/unemployment_insurance/tax_exempt_unemployment_compensation.py
  openfisca_us/variables/gov/irs/income/taxable_income/adjusted_gross_income/irs_gross_income/unemployment_insurance/tax_unit_taxable_unemployment_compensation.py
  openfisca_us/variables/gov/irs/income/taxable_income/adjusted_gross_income/irs_gross_income/unemployment_insurance/tax_unit_unemployment_compensation.py
  openfisca_us/variables/gov/local/tax/assessed_property_value.py
  openfisca_us/variables/gov/states/ma/tax/income/credits/senior_circuit_breaker/ma_scb_total_income.py
  openfisca_us/variables/gov/states/ma/tax/income/credits/senior_circuit_breaker/ma_senior_circuit_breaker.py
  openfisca_us/variables/gov/states/ma/tax/income/ma_income_tax.py
  openfisca_us/variables/household/income/person/pensions/tax_exempt_pension_income.py
Labels: tax, ma

#1039 Fix 2021 CTC refundable amount
  changelog.yaml
  openfisca_us/variables/gov/irs/credits/ctc/refundable_ctc.py
Labels: tax

#1071 Add charitable deduction to MA taxable income
  changelog.yaml
  openfisca_us/variables/gov/states/ma/tax/income/taxable_income/ma_part_b_taxable_income_deductions.py
Labels: state-income-tax, ma

#1077 Add TAXSIM validation infrastructure and test
  Makefile
  changelog.yaml
  docs/_config.yml
  docs/_toc.yml
  docs/environment.yml
  docs/index.ipynb
  docs/programs/fcc/acp.ipynb
  docs/programs/fcc/index.md
  docs/programs/fcc/lifeline.ipynb
  docs/programs/hhs/index.md
  docs/programs/hhs/tanf.ipynb
  docs/programs/hud/housing-assistance.ipynb
  docs/programs/hud/index.md
  docs/programs/irs/credits/eitc.ipynb
  docs/programs/irs/index.md
  docs/programs/ssa/index.md
  docs/programs/ssa/ssi.ipynb
  docs/programs/states/ca/calepa/carb/cvrp.ipynb
  docs/programs/states/ca/index.md
  docs/programs/states/index.md
  docs/programs/states/ma/index.md
  docs/programs/states/ma/tax-benefit.ipynb
  docs/programs/states/ma/tax/income/credits/senior-circuit-breaker.ipynb
  docs/programs/states/ma/tax/income/index.ipynb
  docs/programs/states/ny/eitc.ipynb
  docs/programs/states/ny/index.md
  docs/programs/states/wa/index.md
  docs/programs/states/wa/tax/income/credits/working-families-tax-credit.ipynb
  docs/programs/usda/index.md
  docs/programs/usda/school_meals.ipynb
  docs/programs/usda/snap.ipynb
  docs/programs/usda/wic.ipynb
  docs/tax_cut.yaml
  docs/validation/taxsim.ipynb
  openfisca_us/tests/microsimulation/test_against_taxsim.py
  openfisca_us/tools/dev/taxsim/generate_taxsim_tests.py
  openfisca_us/variables/contrib/taxsim/taxsim_siitax.py
  openfisca_us/variables/contrib/taxsim/taxsim_state.py
  openfisca_us/variables/gov/irs/credits/recovery_rebate_credit/rrc_arpa.py
  openfisca_us/variables/gov/ssa/ssi/eligibility/income/deemed/from_ineligible_parent/ssi_unearned_income_deemed_from_ineligible_parent.py
  openfisca_us/variables/household/demographic/geographic/tax_unit_state.py
  openfisca_us/variables/household/demographic/identifiers/tax_unit_id.py
Labels: validation

#1092 MD EITC
  changelog.yaml
  openfisca_us/parameters/gov/states/md/tax/income/credits/eitc/childless_max.yaml
  openfisca_us/parameters/gov/states/md/tax/income/credits/eitc/non_refundable_match.yaml
  openfisca_us/parameters/gov/states/md/tax/income/credits/eitc/refundable_match.yaml
  openfisca_us/tests/policy/baseline/gov/states/md/tax/income/credits/eitc/md_federal_eitc.yaml
  openfisca_us/tests/policy/baseline/gov/states/md/tax/income/credits/eitc/md_state_non_refundable_eitc.yaml
  openfisca_us/tests/policy/baseline/gov/states/md/tax/income/credits/eitc/md_state_refundable_eitc.yaml
  openfisca_us/variables/gov/states/md/tax/income/credits/eitc/md_federal_eitc.py
  openfisca_us/variables/gov/states/md/tax/income/credits/eitc/md_state_non_refundable_eitc.py
  openfisca_us/variables/gov/states/md/tax/income/credits/eitc/md_state_refundable_eitc.py
Labels: states/md

#1093 Add MD CDCC and fix federal CDCC
  changelog.yaml
  docs/_toc.yml
  docs/programs/irs/credits/cdcc.ipynb
  docs/programs/states/md/index.md
  docs/programs/states/md/tax/credits/cdcc.ipynb
  docs/programs/usda/school-meals.ipynb
  docs/validation/taxsim.ipynb
  openfisca_us/parameters/gov/irs/credits/cdcc/phase_out/increment.yaml
  openfisca_us/parameters/gov/irs/credits/cdcc/phase_out/rate.yaml
  openfisca_us/parameters/gov/states/in/tax/income/exemptions/additional/amount.yaml
  openfisca_us/parameters/gov/states/in/tax/income/exemptions/aged_blind/amount.yaml
  openfisca_us/parameters/gov/states/in/tax/income/exemptions/aged_low_agi/amount.yaml
  openfisca_us/parameters/gov/states/in/tax/income/exemptions/aged_low_agi/threshold.yaml
  openfisca_us/parameters/gov/states/in/tax/income/exemptions/qualifying_child/max_ages/non_student.yaml
  openfisca_us/parameters/gov/states/in/tax/income/exemptions/qualifying_child/max_ages/student.yaml
  openfisca_us/parameters/gov/states/md/tax/income/credits/cdcc/eligibility/agi_cap.yaml
  openfisca_us/parameters/gov/states/md/tax/income/credits/cdcc/eligibility/refundable_agi_cap.yaml
  openfisca_us/parameters/gov/states/md/tax/income/credits/cdcc/percent.yaml
  openfisca_us/parameters/gov/states/md/tax/income/credits/cdcc/phase_out/increment.yaml
  openfisca_us/parameters/gov/states/md/tax/income/credits/cdcc/phase_out/percent.yaml
  openfisca_us/parameters/gov/states/md/tax/income/credits/cdcc/phase_out/start.yaml
  openfisca_us/tests/policy/baseline/gov/irs/credits/cdcc/cdcc_rate.yaml
  openfisca_us/tests/policy/baseline/gov/irs/tax/federal_income/aged_blind_count.yaml
  openfisca_us/tests/policy/baseline/gov/irs/tax/federal_income/aged_head.yaml
  openfisca_us/tests/policy/baseline/gov/irs/tax/federal_income/aged_spouse.yaml
  openfisca_us/tests/policy/baseline/gov/states/in/tax/income/exemptions/in_additional_exemptions.yaml
  openfisca_us/tests/policy/baseline/gov/states/in/tax/income/exemptions/in_aged_blind_exemptions.yaml
  openfisca_us/tests/policy/baseline/gov/states/in/tax/income/exemptions/in_exemptions.yaml
  openfisca_us/tests/policy/baseline/gov/states/md/tax/income/credits/md_cdcc.yaml
  openfisca_us/tools/__init__.py
  openfisca_us/variables/gov/irs/credits/cdcc/cdcc_rate.py
  openfisca_us/variables/gov/states/md/tax/income/credits/md_cdcc.py
  openfisca_us/variables/household/demographic/test.py
Labels: tax, states/md

#1104 Add MD county tax rates
  changelog.yaml
  openfisca_us/parameters/gov/local/tax/income/flat_tax_rate.yaml
  openfisca_us/tests/policy/baseline/gov/states/md/tax/income/md_local_income_tax_before_credits.yaml
  openfisca_us/variables/gov/states/md/tax/income/local/md_local_income_tax_before_credits.py
Labels: tax, states/md

#1113 Black package fix
  changelog.yaml
  setup.py
Labels: code-health

#1114 Versioning tools
  .github/workflows/pr.yaml
  Makefile
  changelog_entry.yaml
  output.yaml
  setup.py
Labels: code-health

#1115 Add non-qualified dividends and fix ordinary dividends
  changelog_entry.yaml
  openfisca_us/parameters/gov/irs/ald/deductions.yaml
  openfisca_us/parameters/gov/irs/gross_income/sources.yaml
  openfisca_us/tests/policy/baseline/gov/irs/irs_gross_income.yaml
  openfisca_us/tests/policy/baseline/gov/states/md/tax/income/md_local_income_tax_before_credits.yaml
  openfisca_us/tools/__init__.py
  openfisca_us/variables/gov/irs/tax/federal_income/capital_gains/dwks10.py
  openfisca_us/variables/gov/irs/tax/federal_income/capital_gains/dwks9.py
  openfisca_us/variables/gov/irs/tax/federal_income/net_investment_income_tax.py
  openfisca_us/variables/household/income/person/dividends/non_qualified_dividend_income.py
  openfisca_us/variables/household/income/person/dividends/ordinary_dividend_income.py
Labels: tax

#1135 Add MD income tax to State income tax
  changelog_entry.yaml
  docs/validation/taxsim.ipynb
  openfisca_us/parameters/gov/states/md/tax/income/credits/cdcc/phase_out/increment.yaml
  openfisca_us/parameters/gov/states/md/tax/income/deductions/standard/joint_head_widow/max.yaml
  openfisca_us/parameters/gov/states/md/tax/income/deductions/standard/joint_head_widow/min.yaml
  openfisca_us/parameters/gov/states/md/tax/income/deductions/standard/single_separate/max.yaml
  openfisca_us/parameters/gov/states/md/tax/income/deductions/standard/single_separate/min.yaml
  openfisca_us/tests/microsimulation/test_against_taxsim.py
  openfisca_us/variables/gov/states/md/tax/income/credits/eitc/federal_eitc_without_age_minimum.py
  openfisca_us/variables/gov/states/md/tax/income/deductions/md_deductions.py
  openfisca_us/variables/gov/states/tax/income/state_income_tax.py
Labels: tax, states/md

#1151 Speed up Medicaid/ACA simulation
  changelog_entry.yaml
  openfisca_us/data/parameters/README.md
  openfisca_us/data/parameters/gov/hhs/medicaid/geography/medicaid_rating_area.yaml
  openfisca_us/data/parameters/gov/hhs/medicaid/geography/second_lowest_silver_plan_cost.yaml
  openfisca_us/variables/gov/hhs/medicaid/geography/medicaid_rating_area.py
  openfisca_us/variables/gov/hhs/medicaid/geography/second_lowest_silver_plan_cost.py
Labels: performance

#1153 Add YAML tabs check
  changelog_entry.yaml
  openfisca_us/parameters/gov/states/in/tax/income/deductions/military_service/max.yaml
  openfisca_us/tests/code_health/parameters.py
Labels: code-health

#1180 Add capital gains parameters for FY20-22
  changelog_entry.yaml
  openfisca_us/parameters/gov/irs/capital_gains/brackets.yaml
Labels: parameters
