Repository PolicyEngine/policyengine-us, pull requests merged in 2023-10, with the labels that each got.

#2881 West Virginia non-refundable credits: low-income family tax credit
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/credits/low_income_family_tax_credit/amount/head_of_household.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/credits/low_income_family_tax_credit/amount/joint.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/credits/low_income_family_tax_credit/amount/separate.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/credits/low_income_family_tax_credit/amount/single.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/credits/low_income_family_tax_credit/amount/widow.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/credits/low_income_family_tax_credit/fpg_percent.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/credits/low_income_family_tax_credit/max_family_size.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/credits/wv_low_income_family_tax_credit.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/credits/wv_low_income_family_tax_credit_fpg.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/wv_income_tax_before_non_refundable_credits.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/wv_income_tax_before_refundable_credits.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/wv_taxable_income.yaml
  policyengine_us/variables/gov/states/wv/tax/income/credits/wv_low_income_family_tax_credit.py
  policyengine_us/variables/gov/states/wv/tax/income/credits/wv_low_income_family_tax_credit_fpg.py
  policyengine_us/variables/gov/states/wv/tax/income/subtractions/wv_low_income_earned_income_exclusion.py
  policyengine_us/variables/gov/states/wv/tax/income/wv_additions.py
  policyengine_us/variables/gov/states/wv/tax/income/wv_agi.py
  policyengine_us/variables/gov/states/wv/tax/income/wv_income_tax_before_non_refundable_credits.py
  policyengine_us/variables/gov/states/wv/tax/income/wv_income_tax_before_refundable_credits.py
  policyengine_us/variables/gov/states/wv/tax/income/wv_non_refundable_credits.py
  policyengine_us/variables/gov/states/wv/tax/income/wv_refundable_credits.py
  policyengine_us/variables/gov/states/wv/tax/income/wv_subtractions.py
  policyengine_us/variables/gov/states/wv/tax/income/wv_taxable_income.py
Labels: enhancement, tax, states/wv

#2718 South Carolina Net Capital Gain Deduction
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/sc/tax/income/deductions/net_capital_gain/rate.yaml
  policyengine_us/tests/policy/baseline/gov/states/sc/tax/income/deductions/net_captial_gain/sc_net_capital_gain_deduction.yaml
  policyengine_us/variables/gov/states/sc/tax/income/deductions/net_capital_gain/sc_net_capital_gain_deduction.py
Labels: enhancement, tax, states/sc

#2888 Add Maine STFC and PTFC refundable credits
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/me/tax/income/credits/fairness/income_sources.yaml
  policyengine_us/parameters/gov/states/me/tax/income/credits/fairness/property_tax/amount.yaml
  policyengine_us/parameters/gov/states/me/tax/income/credits/fairness/property_tax/cap.yaml
  policyengine_us/parameters/gov/states/me/tax/income/credits/fairness/property_tax/income_limit.yaml
  policyengine_us/parameters/gov/states/me/tax/income/credits/fairness/property_tax/rate/income.yaml
  policyengine_us/parameters/gov/states/me/tax/income/credits/fairness/property_tax/rate/rent.yaml
  policyengine_us/parameters/gov/states/me/tax/income/credits/fairness/sales_tax/amount/additional/head_of_household.yaml
  policyengine_us/parameters/gov/states/me/tax/income/credits/fairness/sales_tax/amount/additional/joint.yaml
  policyengine_us/parameters/gov/states/me/tax/income/credits/fairness/sales_tax/amount/additional/widow.yaml
  policyengine_us/parameters/gov/states/me/tax/income/credits/fairness/sales_tax/amount/base.yaml
  policyengine_us/parameters/gov/states/me/tax/income/credits/fairness/sales_tax/reduction/amount.yaml
  policyengine_us/parameters/gov/states/me/tax/income/credits/fairness/sales_tax/reduction/increment.yaml
  policyengine_us/parameters/gov/states/me/tax/income/credits/fairness/sales_tax/reduction/start.yaml
  policyengine_us/parameters/gov/states/me/tax/income/credits/refundable.yaml
  policyengine_us/tests/policy/baseline/gov/states/me/tax/income/credits/property_tax_fairness_credit/me_property_tax_fairness_credit.yaml
  policyengine_us/tests/policy/baseline/gov/states/me/tax/income/credits/property_tax_fairness_credit/me_property_tax_fairness_credit_eligible.yaml
  policyengine_us/tests/policy/baseline/gov/states/me/tax/income/credits/sales_tax_fairness_credit/me_sales_tax_fairness_credit.yaml
  policyengine_us/tests/policy/baseline/gov/states/me/tax/income/credits/sales_tax_fairness_credit/me_sales_tax_fairness_credit_eligible.yaml
  policyengine_us/tests/policy/baseline/gov/states/me/tax/income/me_refundable_credits.yaml
  policyengine_us/variables/gov/states/me/tax/income/credits/fairness/me_sales_and_property_tax_fairness_credit_income.py
  policyengine_us/variables/gov/states/me/tax/income/credits/fairness/property_tax_fairness_credit/me_property_tax_fairness_credit.py
  policyengine_us/variables/gov/states/me/tax/income/credits/fairness/property_tax_fairness_credit/me_property_tax_fairness_credit_eligible.py
  policyengine_us/variables/gov/states/me/tax/income/credits/fairness/sales_tax_fairness_credit/me_sales_tax_fairness_credit.py
  policyengine_us/variables/gov/states/me/tax/income/credits/fairness/sales_tax_fairness_credit/me_sales_tax_fairness_credit_eligible.py
  policyengine_us/variables/household/expense/housing/utilities_included_in_rent.py
Labels: enhancement, tax, states/me

#2827 Vermont Child Tax Credit
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/vt/tax/income/credits/ctc/README.md
  policyengine_us/parameters/gov/states/vt/tax/income/credits/ctc/age_limit.yaml
  policyengine_us/parameters/gov/states/vt/tax/income/credits/ctc/amount.yaml
  policyengine_us/parameters/gov/states/vt/tax/income/credits/ctc/reduction/amount.yaml
  policyengine_us/parameters/gov/states/vt/tax/income/credits/ctc/reduction/increment.yaml
  policyengine_us/parameters/gov/states/vt/tax/income/credits/ctc/reduction/start.yaml
  policyengine_us/parameters/gov/states/vt/tax/income/credits/refundable.yaml
  policyengine_us/tests/policy/baseline/gov/states/vt/tax/income/credits/vt_ctc.yaml
  policyengine_us/variables/gov/states/vt/tax/income/credits/ctc/vt_ctc.py
Labels: enhancement, tax, states/vt
