Repository PolicyEngine/policyengine-us, pull requests merged in 2023-08, with the labels that each got.

#2241 MS total exemptions
  changelog_entry.yaml
  policyengine_us/variables/gov/states/ms/tax/income/exemptions/ms_total_exemptions.py
Labels: states/ms

#2412 Michigan Exemptions
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/mi/tax/income/exemptions/dependent_on_other_return.yaml
  policyengine_us/parameters/gov/states/mi/tax/income/exemptions/disabled.yaml
  policyengine_us/parameters/gov/states/mi/tax/income/exemptions/disabled_veteran.yaml
  policyengine_us/parameters/gov/states/mi/tax/income/exemptions/personal.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/exemptions/mi_exemptions.yaml
  policyengine_us/variables/gov/states/mi/tax/income/exemptions/mi_exemptions.py
  policyengine_us/variables/household/demographic/tax_unit/tax_unit_stillborn_children.py
Labels: states/mi

#2608 South Carolina Two Wage Earner Credit
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/sc/tax/income/credits/two_wage_earner/earned_income.yaml
  policyengine_us/parameters/gov/states/sc/tax/income/credits/two_wage_earner/rate.yaml
  policyengine_us/tests/policy/baseline/gov/states/sc/tax/income/credits/two_wage_earner/sc_two_wage_earner_credit.yaml
  policyengine_us/variables/gov/states/sc/tax/income/credits/two_wage_earner/sc_gross_earned_income.py
  policyengine_us/variables/gov/states/sc/tax/income/credits/two_wage_earner/sc_two_wage_earner_credit.py
Labels: states/sc

#2244 Michigan Earned Income Tax Credit for Working Families
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/mi/tax/income/credits/eitc/README.md
  policyengine_us/parameters/gov/states/mi/tax/income/credits/eitc/match.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/credits/mi_eitc.yaml
  policyengine_us/variables/gov/states/mi/tax/income/credits/mi_eitc.py
Labels: states/mi

#2848 Revenue-affecting reforms over state refundable credits are misalloca…
  changelog_entry.yaml
  policyengine_us/variables/household/income/household/household_state_income_tax.py
Labels: bug

#2598 West Virginia other retirement subtractions
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/subtractions/public_pension/max_amount.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/subtractions/wv_public_pension_subtraction.yaml
  policyengine_us/variables/gov/states/wv/tax/income/subtractions/wv_public_pension_subtraction.py
  policyengine_us/variables/household/income/person/pensions/taxable_federal_pension_income.py
Labels: states/wv

#2764 Pell Grant
  changelog_entry.yaml
  policyengine_us/parameters/gov/ed/pell_grant/amount/max.yaml
  policyengine_us/parameters/gov/ed/pell_grant/amount/min.yaml
  policyengine_us/parameters/gov/ed/pell_grant/efc/automatic_zero.yaml
  policyengine_us/parameters/gov/ed/pell_grant/efc/dependent/asset_assessment_rate.yaml
  policyengine_us/parameters/gov/ed/pell_grant/efc/dependent/income_assessment_rate.yaml
  policyengine_us/parameters/gov/ed/pell_grant/efc/dependent/ipa.yaml
  policyengine_us/parameters/gov/ed/pell_grant/efc/head/asset_assessment_rate.yaml
  policyengine_us/parameters/gov/ed/pell_grant/efc/head/income_assessment_rate.yaml
  policyengine_us/parameters/gov/ed/pell_grant/efc/head/marginal_rate.yaml
  policyengine_us/parameters/gov/ed/pell_grant/efc/head/min_contribution.yaml
  policyengine_us/parameters/gov/ed/pell_grant/efc/head/negative_rate.yaml
  policyengine_us/parameters/gov/ed/pell_grant/efc/simplified/benefits.yaml
  policyengine_us/parameters/gov/ed/pell_grant/efc/simplified/income_limit.yaml
  policyengine_us/parameters/gov/ed/pell_grant/months_in_school_year.yaml
  policyengine_us/parameters/gov/fcc/acp/categorical_eligibility.yaml
  policyengine_us/parameters/gov/fcc/ebb/categorical_eligibility.yaml
  policyengine_us/tests/policy/baseline/gov/ed/pell_grant/efc/dependent/pell_grant_dependent_allowances.yaml
  policyengine_us/tests/policy/baseline/gov/ed/pell_grant/efc/dependent/pell_grant_dependent_contribution.yaml
  policyengine_us/tests/policy/baseline/gov/ed/pell_grant/efc/dependent/pell_grant_dependents_in_college.yaml
  policyengine_us/tests/policy/baseline/gov/ed/pell_grant/efc/head/pell_grant_head_assets.yaml
  policyengine_us/tests/policy/baseline/gov/ed/pell_grant/efc/head/pell_grant_head_available_income.yaml
  policyengine_us/tests/policy/baseline/gov/ed/pell_grant/efc/head/pell_grant_head_contribution.yaml
  policyengine_us/tests/policy/baseline/gov/ed/pell_grant/efc/pell_grant_efc.yaml
  policyengine_us/tests/policy/baseline/gov/ed/pell_grant/efc/pell_grant_formula.yaml
  policyengine_us/tests/policy/baseline/gov/ed/pell_grant/efc/pell_grant_simplified_formula_applies.yaml
  policyengine_us/tests/policy/baseline/gov/ed/pell_grant/pell_grant.yaml
  policyengine_us/tests/policy/baseline/gov/fcc/acp/integration.yaml
  policyengine_us/tests/policy/baseline/gov/fcc/acp/is_acp_eligible.yaml
  policyengine_us/tests/policy/baseline/gov/fcc/ebb/integration.yaml
  policyengine_us/tests/policy/baseline/gov/states/oh/tax/income/oh_agi.yaml
  policyengine_us/variables/gov/ed/pell_grant/efc/dependent/pell_grant_dependent_allowances.py
  policyengine_us/variables/gov/ed/pell_grant/efc/dependent/pell_grant_dependent_available_income.py
  policyengine_us/variables/gov/ed/pell_grant/efc/dependent/pell_grant_dependent_contribution.py
  policyengine_us/variables/gov/ed/pell_grant/efc/dependent/pell_grant_dependent_other_allowances.py
  policyengine_us/variables/gov/ed/pell_grant/efc/head/pell_grant_head_allowances.py
  policyengine_us/variables/gov/ed/pell_grant/efc/head/pell_grant_head_assets.py
  policyengine_us/variables/gov/ed/pell_grant/efc/head/pell_grant_head_available_income.py
  policyengine_us/variables/gov/ed/pell_grant/efc/head/pell_grant_head_contribution.py
  policyengine_us/variables/gov/ed/pell_grant/efc/head/pell_grant_head_income.py
  policyengine_us/variables/gov/ed/pell_grant/efc/pell_grant_countable_assets.py
  policyengine_us/variables/gov/ed/pell_grant/efc/pell_grant_dependents_in_college.py
  policyengine_us/variables/gov/ed/pell_grant/efc/pell_grant_efc.py
  policyengine_us/variables/gov/ed/pell_grant/efc/pell_grant_formula.py
  policyengine_us/variables/gov/ed/pell_grant/efc/pell_grant_simplified_formula_applies.py
  policyengine_us/variables/gov/ed/pell_grant/pell_grant.py
  policyengine_us/variables/gov/ed/pell_grant/pell_grant_cost_of_attending_college.py
  policyengine_us/variables/gov/ed/pell_grant/pell_grant_months_in_school.py
  policyengine_us/variables/gov/states/oh/tax/income/adjusted_gross_income/oh_agi.py
  policyengine_us/variables/household/income/spm_unit/spm_unit_pell_grant.py
Labels: benefits

#2825 Colorado Additions
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/co/tax/income/additions/additions.yaml
  policyengine_us/parameters/gov/states/co/tax/income/additions/federal_deductions/agi_threshold.yaml
  policyengine_us/parameters/gov/states/co/tax/income/additions/federal_deductions/exemption.yaml
  policyengine_us/parameters/gov/states/co/tax/income/additions/federal_deductions/itemized_only.yaml
  policyengine_us/parameters/gov/states/co/tax/income/additions/qualified_business_income_deduction/agi_threshold.yaml
  policyengine_us/parameters/gov/states/co/tax/income/credits/ctc/README.md
  policyengine_us/parameters/gov/states/co/tax/income/credits/income_qualified_senior_housing/reduction/start.yaml
  policyengine_us/parameters/gov/states/co/tax/income/credits/refundable.yaml
  policyengine_us/parameters/gov/states/co/tax/income/subtractions/subtractions.yaml
  policyengine_us/tests/policy/baseline/gov/states/co/tax/income/additions/co_federal_deduction_addback.yaml
  policyengine_us/tests/policy/baseline/gov/states/co/tax/income/additions/co_federal_deduction_addback_required.yaml
  policyengine_us/tests/policy/baseline/gov/states/co/tax/income/additions/federal_deductions/co_qualified_business_income_deduction_addback_eligible.yaml
  policyengine_us/tests/policy/baseline/gov/states/co/tax/income/co_federal_taxable_income.yaml
  policyengine_us/tests/policy/baseline/gov/states/co/tax/income/credits/income_qualified_senior_housing/co_income_qualified_senior_housing.yaml
  policyengine_us/tests/policy/baseline/gov/states/co/tax/income/credits/income_qualified_senior_housing/co_income_qualified_senior_housing_eligible.yaml
  policyengine_us/variables/gov/states/co/tax/income/additions/co_additions.py
  policyengine_us/variables/gov/states/co/tax/income/additions/federal_deductions/co_federal_deduction_addback.py
  policyengine_us/variables/gov/states/co/tax/income/additions/federal_deductions/co_federal_deduction_addback_required.py
  policyengine_us/variables/gov/states/co/tax/income/additions/qualified_business_income_deduction/co_qualified_business_income_deduction_addback.py
  policyengine_us/variables/gov/states/co/tax/income/additions/qualified_business_income_deduction/co_qualified_business_income_deduction_addback_required.py
  policyengine_us/variables/gov/states/co/tax/income/co_additions.py
  policyengine_us/variables/gov/states/co/tax/income/co_federal_taxable_income.py
  policyengine_us/variables/gov/states/co/tax/income/co_non_refundable_credits.py
  policyengine_us/variables/gov/states/co/tax/income/co_refundable_credits.py
  policyengine_us/variables/gov/states/co/tax/income/credits/income_qualified_senior_housing/co_income_qualified_senior_housing_credit.py
  policyengine_us/variables/gov/states/co/tax/income/credits/income_qualified_senior_housing/co_income_qualified_senior_housing_eligible.py
  policyengine_us/variables/gov/states/co/tax/income/subtractions/co_subtractions.py
  policyengine_us/variables/gov/states/tax/income/state_income_tax.py
  policyengine_us/variables/gov/states/tax/income/state_income_tax_before_refundable_credits.py
  policyengine_us/variables/household/income/household/household_refundable_tax_credits.py
  policyengine_us/variables/household/income/household/household_tax_before_refundable_credits.py
Labels: enhancement, tax, states/co

#2911 Add variables needed to defined Georgia taxable income
  changelog_entry.yaml
  policyengine_us/tests/policy/baseline/gov/states/ga/tax/income/ga_taxable_income.yaml
  policyengine_us/variables/gov/states/ga/tax/income/additions/ga_agi_additions.py
  policyengine_us/variables/gov/states/ga/tax/income/deductions/ga_deductions.py
  policyengine_us/variables/gov/states/ga/tax/income/ga_agi.py
  policyengine_us/variables/gov/states/ga/tax/income/ga_taxable_income.py
  policyengine_us/variables/gov/states/ga/tax/income/subtractions/ga_agi_subtractions.py
Labels: enhancement, tax, states/ga

#2918 Fix North Carolina income tax rate for 2022
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/nc/tax/income/rate.yaml
  policyengine_us/variables/gov/states/nc/tax/income/nc_income_tax.py
  policyengine_us/variables/gov/states/nc/tax/income/nc_income_tax_before_credits.py
Labels: tax, states/nc

#2920 Colorado Sales Tax Refund
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/co/tax/income/credits/refundable.yaml
  policyengine_us/parameters/gov/states/co/tax/income/credits/sales_tax_refund/age_threshold.yaml
  policyengine_us/parameters/gov/states/co/tax/income/credits/sales_tax_refund/amount/base.yaml
  policyengine_us/parameters/gov/states/co/tax/income/credits/sales_tax_refund/amount/multiplier.yaml
  policyengine_us/parameters/gov/states/co/tax/income/credits/sales_tax_refund/magi_sources.yaml
  policyengine_us/tests/policy/baseline/gov/states/co/tax/income/credits/sales_tax_refund/co_sales_tax_refund.yaml
  policyengine_us/tests/policy/baseline/gov/states/co/tax/income/credits/sales_tax_refund/co_sales_tax_refund_eligible.yaml
  policyengine_us/variables/gov/states/co/tax/income/credits/sales_tax_refund/co_modified_agi.py
  policyengine_us/variables/gov/states/co/tax/income/credits/sales_tax_refund/co_sales_tax_refund.py
  policyengine_us/variables/gov/states/co/tax/income/credits/sales_tax_refund/co_sales_tax_refund_eligible.py
Labels: enhancement, tax, states/co
