Repository PolicyEngine/policyengine-us, pull requests merged in 2023-11, with the labels that each got.

#3205 Fix CCAP bug
  changelog_entry.yaml
  policyengine_us/variables/gov/states/co/ccap/entry/co_ccap_hhs_fpg_eligible.py
Labels: bug

#3227 Improve ZIP code handling
  changelog_entry.yaml
  policyengine_us/variables/household/demographic/geographic/zip_code/zip_code.py
Labels: enhancement

#2927 South Carolina retirement deduction
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/sc/tax/income/subtractions/retirement/cap.yaml
  policyengine_us/parameters/gov/states/sc/tax/income/subtractions/retirement/subtract_military.yaml
  policyengine_us/tests/policy/baseline/gov/states/sc/tax/income/subtractions/military_retirement/sc_military_deduction_indv.yaml
  policyengine_us/tests/policy/baseline/gov/states/sc/tax/income/subtractions/military_retirement/sc_military_deduction_survivors.yaml
  policyengine_us/tests/policy/baseline/gov/states/sc/tax/income/subtractions/retirement/sc_retirement_cap.yaml
  policyengine_us/tests/policy/baseline/gov/states/sc/tax/income/subtractions/retirement/sc_retirement_deduction_indv.yaml
  policyengine_us/tests/policy/baseline/gov/states/sc/tax/income/subtractions/retirement/sc_retirement_deduction_survivors.yaml
  policyengine_us/variables/gov/states/sc/tax/income/subtractions/military_retirement/sc_military_deduction.py
  policyengine_us/variables/gov/states/sc/tax/income/subtractions/military_retirement/sc_military_deduction_indv.py
  policyengine_us/variables/gov/states/sc/tax/income/subtractions/military_retirement/sc_military_deduction_survivors.py
  policyengine_us/variables/gov/states/sc/tax/income/subtractions/retirement/sc_retirement_cap.py
  policyengine_us/variables/gov/states/sc/tax/income/subtractions/retirement/sc_retirement_deduction.py
  policyengine_us/variables/gov/states/sc/tax/income/subtractions/retirement/sc_retirement_deduction_indv.py
  policyengine_us/variables/gov/states/sc/tax/income/subtractions/retirement/sc_retirement_deduction_survivors.py
  policyengine_us/variables/household/income/person/pensions/military_retirement_pay_survivors.py
Labels: states/sc

#2906 Maryland 100 year subtraction
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/md/tax/income/agi/subtractions/hundred_year/age_threshold.yaml
  policyengine_us/parameters/gov/states/md/tax/income/agi/subtractions/hundred_year/amount.yaml
  policyengine_us/parameters/gov/states/md/tax/income/agi/subtractions/sources.yaml
  policyengine_us/tests/policy/baseline/gov/states/md/tax/income/agi/subtractions/hundred_year/md_hundred_year_subtraction_eligible.yaml
  policyengine_us/tests/policy/baseline/gov/states/md/tax/income/agi/subtractions/hundred_year/md_hundred_year_subtraction_person.yaml
  policyengine_us/variables/gov/states/md/tax/income/agi/subtractions/hundred_year/md_hundred_year_subtraction.py
  policyengine_us/variables/gov/states/md/tax/income/agi/subtractions/hundred_year/md_hundred_year_subtraction_eligible.py
  policyengine_us/variables/gov/states/md/tax/income/agi/subtractions/hundred_year/md_hundred_year_subtraction_person.py
Labels: enhancement, tax, states/md

#3141 West Virginia low-income earned income exclusion (subtractions)
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/subtractions/low_income_earned_income/amount.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/subtractions/low_income_earned_income/income_limit.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/subtractions/subtractions.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/subtractions/low_income_earned_income/wv_low_income_earned_income_exclusion.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/subtractions/low_income_earned_income/wv_low_income_earned_income_exclusion_eligible.yaml
  policyengine_us/variables/gov/states/wv/tax/income/subtractions/low_income_earned_income/wv_low_income_earned_income_exclusion.py
  policyengine_us/variables/gov/states/wv/tax/income/subtractions/low_income_earned_income/wv_low_income_earned_income_exclusion_eligible.py
  policyengine_us/variables/gov/states/wv/tax/income/subtractions/wv_low_income_earned_income_exclusion.py
Labels: states/wv

#2884 Hawaii Exemptions
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/hi/tax/income/exemptions/aged_threshold.yaml
  policyengine_us/parameters/gov/states/hi/tax/income/exemptions/base.yaml
  policyengine_us/parameters/gov/states/hi/tax/income/exemptions/disabled.yaml
  policyengine_us/tests/policy/baseline/gov/states/hi/tax/income/exemptions/hi_disabled_exemptions.yaml
  policyengine_us/tests/policy/baseline/gov/states/hi/tax/income/exemptions/hi_exemptions.yaml
  policyengine_us/tests/policy/baseline/gov/states/hi/tax/income/exemptions/hi_regular_exemptions.yaml
  policyengine_us/tests/policy/baseline/gov/states/hi/tax/income/hi_taxable_income.yaml
  policyengine_us/variables/gov/states/hi/tax/income/exemptions/hi_disabled_exemptions.py
  policyengine_us/variables/gov/states/hi/tax/income/exemptions/hi_exemptions.py
  policyengine_us/variables/gov/states/hi/tax/income/exemptions/hi_regular_exemptions.py
  policyengine_us/variables/gov/states/hi/tax/income/hi_taxable_income.py
Labels: enhancement, tax, states/hi

#2854 Hawaii Child and Dependent Care Expenses Tax Credit
  changelog_entry.yaml
  policyengine_us/parameters/gov/irs/gross_income/dependent_care_assistance_programs/reduction_amount.yaml
  policyengine_us/parameters/gov/states/hi/tax/income/credits/cdcc/dependent_care_benefits/expense_floor.yaml
  policyengine_us/parameters/gov/states/hi/tax/income/credits/cdcc/disabled_student_income_floor.yaml
  policyengine_us/parameters/gov/states/hi/tax/income/credits/cdcc/rate.yaml
  policyengine_us/tests/policy/baseline/gov/states/hi/tax/income/credits/cdcc/hi_cdcc.yaml
  policyengine_us/tests/policy/baseline/gov/states/hi/tax/income/credits/cdcc/hi_cdcc_income_floor_eligible.yaml
  policyengine_us/tests/policy/baseline/gov/states/hi/tax/income/credits/cdcc/hi_cdcc_integration.yaml
  policyengine_us/tests/policy/baseline/gov/states/hi/tax/income/credits/cdcc/hi_cdcc_min_head_spouse_earned.yaml
  policyengine_us/tests/policy/baseline/gov/states/hi/tax/income/credits/cdcc/hi_dependent_care_benefits.yaml
  policyengine_us/variables/gov/states/hi/tax/income/credits/cdcc/dependent_care_benefit/hi_cdcc_income_floor_eligible.py
  policyengine_us/variables/gov/states/hi/tax/income/credits/cdcc/dependent_care_benefit/hi_cdcc_min_head_spouse_earned.py
  policyengine_us/variables/gov/states/hi/tax/income/credits/cdcc/dependent_care_benefit/hi_dependent_care_benefits.py
  policyengine_us/variables/gov/states/hi/tax/income/credits/cdcc/hi_cdcc.py
  policyengine_us/variables/household/income/person/dependent_care_employer_benefits.py
Labels: enhancement, tax, states/hi

#3069 South Carolina total subtractions
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/sc/tax/income/additions/additions.yaml
  policyengine_us/parameters/gov/states/sc/tax/income/subtractions/subtractions.yaml
  policyengine_us/tests/policy/baseline/gov/states/sc/tax/income/exemptions/sc_dependent_exemption.yaml
  policyengine_us/tests/policy/baseline/gov/states/sc/tax/income/sc_federal_taxable_income_without_salt_deduction.yaml
  policyengine_us/variables/gov/states/sc/tax/income/additions/sc_additions.py
  policyengine_us/variables/gov/states/sc/tax/income/additions/sc_state_tax_addback.py
  policyengine_us/variables/gov/states/sc/tax/income/exemptions/sc_dependent_exemption.py
  policyengine_us/variables/gov/states/sc/tax/income/sc_federal_taxable_income_without_salt_deduction.py
  policyengine_us/variables/gov/states/sc/tax/income/sc_taxable_income.py
  policyengine_us/variables/gov/states/sc/tax/income/subtractions/sc_subtractions.py
Labels: states/sc
