Repository PolicyEngine/policyengine-us, pull requests merged in 2023-12, with the labels that each got.

#2822 Arkansas Itemized Deduction
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/ar/tax/income/deductions/itemized/sources.yaml
  policyengine_us/parameters/gov/states/ar/tax/income/deductions/itemized/tuition/rate.yaml
  policyengine_us/parameters/gov/states/ar/tax/income/deductions/itemized/tuition/weighted_average_tuition/four_year_college.yaml
  policyengine_us/parameters/gov/states/ar/tax/income/deductions/itemized/tuition/weighted_average_tuition/technical_institutes.yaml
  policyengine_us/parameters/gov/states/ar/tax/income/deductions/itemized/tuition/weighted_average_tuition/two_year_college.yaml
  policyengine_us/tests/policy/baseline/gov/states/ar/tax/income/deductions/itemized/ar_itemized_deductions.yaml
  policyengine_us/tests/policy/baseline/gov/states/ar/tax/income/deductions/itemized/ar_medical_expense_deduction.yaml
  policyengine_us/tests/policy/baseline/gov/states/ar/tax/income/deductions/itemized/ar_misc_deduction.yaml
  policyengine_us/tests/policy/baseline/gov/states/ar/tax/income/deductions/itemized/post_secondary_education/ar_post_secondary_education_tuition_deduction_person.yaml
  policyengine_us/variables/gov/states/ar/tax/income/ar_agi.py
  policyengine_us/variables/gov/states/ar/tax/income/ar_agi_person.py
  policyengine_us/variables/gov/states/ar/tax/income/deductions/itemized/ar_itemized_deductions.py
  policyengine_us/variables/gov/states/ar/tax/income/deductions/itemized/ar_itemized_deductions_sources.py
  policyengine_us/variables/gov/states/ar/tax/income/deductions/itemized/ar_medical_expense_deduction.py
  policyengine_us/variables/gov/states/ar/tax/income/deductions/itemized/ar_misc_deduction.py
  policyengine_us/variables/gov/states/ar/tax/income/deductions/itemized/post_secondary_education/ar_post_secondary_education_tuition_deduction.py
  policyengine_us/variables/gov/states/ar/tax/income/deductions/itemized/post_secondary_education/ar_post_secondary_education_tuition_deduction_person.py
  policyengine_us/variables/household/demographic/person/four_year_college_student.py
  policyengine_us/variables/household/demographic/person/technical_institution_student.py
Labels: enhancement, tax, states/ar

#3247 Montana Taxable Social Security Benefits
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/mt/tax/income/additions/additions.yaml
  policyengine_us/parameters/gov/states/mt/tax/income/subtractions/subtractions.yaml
  policyengine_us/variables/gov/states/mt/tax/income/additions/mt_additions.py
  policyengine_us/variables/gov/states/mt/tax/income/subtractions/mt_subtractions.py
Labels: states/mt

#2954 West Virginia Social Security Benefits Subtraction
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/subtractions/social_security_benefits/income_limit.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/subtractions/social_security_benefits/rate.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/subtractions/subtractions.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/subtractions/wv_social_security_benefits_subtraction.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/subtractions/wv_social_security_benefits_subtraction_eligible.yaml
  policyengine_us/variables/gov/states/wv/tax/income/subtractions/wv_social_security_benefits_subtraction.py
  policyengine_us/variables/gov/states/wv/tax/income/subtractions/wv_social_security_benefits_subtraction_eligible.py
  policyengine_us/variables/gov/states/wv/tax/income/wv_subtractions.py
Labels: states/wv

#3497 Fix calculation of Michigan retirement deduction calculation
  changelog_entry.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/deductions/retirement/tier_one/mi_retirement_benefits_deduction_tier_one_amount.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/deductions/retirement/tier_three/mi_retirement_benefits_deduction_tier_three.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/deductions/retirement/tier_three/ss_exempt/not_retired/mi_retirement_benefits_deduction_tier_three_ss_exempt_not_retired.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/deductions/retirement/tier_three/ss_exempt/retired/mi_retirement_benefits_deduction_tier_three_ss_exempt_retired.yaml
  policyengine_us/variables/gov/states/mi/tax/income/deductions/retirement/tier_one/mi_retirement_benefits_deduction_tier_one.py
  policyengine_us/variables/gov/states/mi/tax/income/deductions/retirement/tier_one/mi_retirement_benefits_deduction_tier_one_amount.py
  policyengine_us/variables/gov/states/mi/tax/income/deductions/retirement/tier_three/ss_exempt/not_retired/mi_retirement_benefits_deduction_tier_three_ss_exempt_not_retired.py
  policyengine_us/variables/gov/states/mi/tax/income/deductions/retirement/tier_three/ss_exempt/retired/mi_retirement_benefits_deduction_tier_three_ss_exempt_retired.py
Labels: bug, states/mi

#3286 West Virginia subtractions-senior citizen or disability deduction
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/ma/tax/income/credits/eitc/match.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/subtractions/public_pension/max_amount.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/subtractions/senior_citizen_disability_deduction/age_threshold.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/subtractions/senior_citizen_disability_deduction/cap.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/subtractions/senior_citizen_disability_deduction/modification_sources.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/subtractions/subtractions.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/subtractions/senior_citizen_disability_deduction/wv_senior_citizen_disability_deduction_eligible_person.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/subtractions/senior_citizen_disability_deduction/wv_senior_citizen_disability_deduction_person.yaml
  policyengine_us/variables/gov/states/wv/tax/income/subtractions/senior_citizen_disability_deduction/wv_senior_citizen_disability_deduction.py
  policyengine_us/variables/gov/states/wv/tax/income/subtractions/senior_citizen_disability_deduction/wv_senior_citizen_disability_deduction_eligible_person.py
  policyengine_us/variables/gov/states/wv/tax/income/subtractions/senior_citizen_disability_deduction/wv_senior_citizen_disability_deduction_person.py
  policyengine_us/variables/gov/states/wv/tax/income/subtractions/senior_citizen_disability_deduction/wv_senior_citizen_disability_deduction_total_modifications.py
Labels: states/wv

#2932 Hawaii Itemized Deduction
  changelog_entry.yaml
  policyengine_us/parameters/gov/irs/deductions/itemized/interest/mortgage/cap.yaml
  policyengine_us/parameters/gov/irs/deductions/itemized/reduction/agi_threshold.yaml
  policyengine_us/parameters/gov/irs/deductions/itemized/reduction/rate/base.yaml
  policyengine_us/parameters/gov/irs/deductions/itemized/reduction/rate/excess_agi.yaml
  policyengine_us/parameters/gov/states/hi/tax/income/deductions/itemized/sources.yaml
  policyengine_us/parameters/gov/states/hi/tax/income/deductions/itemized/threshold/deductions.yaml
  policyengine_us/parameters/gov/states/hi/tax/income/deductions/itemized/threshold/dependent.yaml
  policyengine_us/tests/policy/baseline/gov/states/hi/tax/income/deductions/hi_deductions.yaml
  policyengine_us/tests/policy/baseline/gov/states/hi/tax/income/deductions/itemized/hi_casualty_loss_deduction.yaml
  policyengine_us/tests/policy/baseline/gov/states/hi/tax/income/deductions/itemized/hi_itemized_deductions.yaml
  policyengine_us/tests/policy/baseline/gov/states/hi/tax/income/deductions/itemized/hi_medical_expense_deduction.yaml
  policyengine_us/tests/policy/baseline/gov/states/hi/tax/income/deductions/itemized/hi_reduced_itemized_deductions.yaml
  policyengine_us/variables/gov/states/hi/tax/income/deductions/hi_deductions.py
  policyengine_us/variables/gov/states/hi/tax/income/deductions/itemized/hi_casualty_loss_deduction.py
  policyengine_us/variables/gov/states/hi/tax/income/deductions/itemized/hi_interest_deduction.py
  policyengine_us/variables/gov/states/hi/tax/income/deductions/itemized/hi_itemized_deductions.py
  policyengine_us/variables/gov/states/hi/tax/income/deductions/itemized/hi_medical_expense_deduction.py
  policyengine_us/variables/gov/states/hi/tax/income/deductions/itemized/hi_reduced_itemized_deductions.py
  policyengine_us/variables/gov/states/hi/tax/income/deductions/itemized/hi_salt_deduction.py
  policyengine_us/variables/gov/states/hi/tax/income/deductions/itemized/hi_total_itemized_deductions.py
Labels: tax, states/hi

#3106 West Virginia homestead excess property tax credit
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/credits/heptc/cap.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/credits/heptc/gross_household_income/sources.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/credits/heptc/rate/fpg.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/credits/heptc/rate/household_income.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/credits/heptc/wv_homestead_excess_property_tax_credit.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/credits/heptc/wv_homestead_excess_property_tax_credit_eligible.yaml
  policyengine_us/variables/gov/states/wv/tax/income/credits/heptc/wv_gross_household_income.py
  policyengine_us/variables/gov/states/wv/tax/income/credits/heptc/wv_homestead_excess_property_tax_credit.py
  policyengine_us/variables/gov/states/wv/tax/income/credits/heptc/wv_homestead_excess_property_tax_credit_eligible.py
Labels: states/wv
