Repository PolicyEngine/policyengine-us, pull requests merged in 2023-06, with the labels that each got.

#2258 Delaware Personal Tax Income Schedule
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/de/tax/income/rate.yaml
  policyengine_us/tests/policy/baseline/gov/states/de/tax/income/de_income_tax_before_refundable_credits.yaml
  policyengine_us/variables/gov/states/de/tax/income/de_income_tax.py
  policyengine_us/variables/gov/states/de/tax/income/de_income_tax_before_refundable_credits.py
  policyengine_us/variables/gov/states/de/tax/income/de_refundable_credits.py
  policyengine_us/variables/gov/states/de/tax/income/de_taxable_income.py
Labels: states/de

#2231 WV Personal Exemptions
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/exemptions/base_personal.yaml
  policyengine_us/parameters/gov/states/wv/tax/income/exemptions/personal.yaml
  policyengine_us/tests/policy/baseline/gov/states/wv/tax/income/exemptions/wv_personal_exemption.yaml
  policyengine_us/variables/gov/states/wv/tax/income/exemptions/wv_personal_exemption.py
Labels: states/wv

#2252 Georgia personal income tax rate schedule
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/ga/tax/income/main/head_of_household.yaml
  policyengine_us/parameters/gov/states/ga/tax/income/main/joint.yaml
  policyengine_us/parameters/gov/states/ga/tax/income/main/separate.yaml
  policyengine_us/parameters/gov/states/ga/tax/income/main/single.yaml
  policyengine_us/parameters/gov/states/ga/tax/income/main/widow.yaml
  policyengine_us/tests/policy/baseline/gov/states/ga/tax/income/ga_income_tax_before_refundable_credits.yaml
  policyengine_us/variables/gov/states/ga/tax/income/ga_income_tax.py
  policyengine_us/variables/gov/states/ga/tax/income/ga_income_tax_before_refundable_credits.py
  policyengine_us/variables/gov/states/ga/tax/income/ga_refundable_credits.py
  policyengine_us/variables/gov/states/ga/tax/income/ga_taxable_income.py
Labels: states/ga
