Repository PolicyEngine/policyengine-us, pull requests merged in 2023-09, with the labels that each got.

#2929 Remove unused Colorado income tax variable
  changelog_entry.yaml
  policyengine_us/tests/policy/baseline/gov/states/co/tax/income/co_federal_taxable_income.yaml
  policyengine_us/tests/policy/baseline/gov/states/co/tax/income/credits/eitc/co_eitc.yaml
  policyengine_us/variables/gov/states/co/tax/income/co_federal_taxable_income.py
  policyengine_us/variables/gov/states/co/tax/income/credits/eitc/co_eitc.py
Labels: states/co

#2924 Add several North Carolina deduction variables
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/nc/tax/income/deductions/child/head_of_household.yaml
  policyengine_us/parameters/gov/states/nc/tax/income/deductions/child/joint.yaml
  policyengine_us/parameters/gov/states/nc/tax/income/deductions/child/separate.yaml
  policyengine_us/parameters/gov/states/nc/tax/income/deductions/child/single.yaml
  policyengine_us/parameters/gov/states/nc/tax/income/deductions/child/widow.yaml
  policyengine_us/parameters/gov/states/nc/tax/income/deductions/standard/amount.yaml
  policyengine_us/tests/policy/baseline/gov/states/nc/tax/income/deductions/nc_child_deduction.yaml
  policyengine_us/tests/policy/baseline/gov/states/nc/tax/income/deductions/nc_standard_deduction.yaml
  policyengine_us/tests/policy/baseline/gov/states/nc/tax/income/deductions/nc_standard_or_itemized_deductions.yaml
  policyengine_us/variables/gov/states/nc/tax/income/deductions/nc_child_deduction.py
  policyengine_us/variables/gov/states/nc/tax/income/deductions/nc_itemized_deductions.py
  policyengine_us/variables/gov/states/nc/tax/income/deductions/nc_standard_deduction.py
  policyengine_us/variables/gov/states/nc/tax/income/deductions/nc_standard_or_itemized_deductions.py
Labels: tax, states/nc

#2431 Refine Vermont AGI Additions
  changelog_entry.yaml
  policyengine_us/tests/policy/baseline/gov/states/vt/agi/vt_agi.yaml
  policyengine_us/variables/gov/states/vt/tax/income/adjusted_gross_income/vt_agi_additions.py
Labels: tax, states/vt

#2704 Delaware Itemized Deductions
  changelog_entry.yaml
  policyengine_us/variables/gov/states/de/tax/income/deductions/itemized/de_itemized_deductions.py
Labels: enhancement, tax, states/de

#3009 Add documentation example page
  changelog_entry.yaml
  docs/_toc.yml
  docs/examples/income-sources.ipynb
Labels: documentation

#2913 MS Income Tax Schedule
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/ms/tax/income/rate.yaml
  policyengine_us/tests/policy/baseline/gov/states/ms/tax/income/deductions/ms_deductions.yaml
  policyengine_us/tests/policy/baseline/gov/states/ms/tax/income/ms_income_tax_before_non_refundable_credits.yaml
  policyengine_us/tests/policy/baseline/gov/states/ms/tax/income/ms_income_tax_before_refundable_credits.yaml
  policyengine_us/variables/gov/states/ms/tax/income/deductions/ms_deductions.py
  policyengine_us/variables/gov/states/ms/tax/income/ms_agi.py
  policyengine_us/variables/gov/states/ms/tax/income/ms_income_tax.py
  policyengine_us/variables/gov/states/ms/tax/income/ms_income_tax_before_non_refundable_credits.py
  policyengine_us/variables/gov/states/ms/tax/income/ms_income_tax_before_refundable_credits.py
  policyengine_us/variables/gov/states/ms/tax/income/ms_non_refundable_credits.py
  policyengine_us/variables/gov/states/ms/tax/income/ms_refundable_credits.py
  policyengine_us/variables/gov/states/ms/tax/income/ms_taxable_income.py
Labels: enhancement, tax, states/ms

#2887 Pell Grant 0 EFC and Marginal Rate from 2009 to 2023
  changelog_entry.yaml
  policyengine_us/parameters/gov/ed/pell_grant/efc/automatic_zero.yaml
  policyengine_us/parameters/gov/ed/pell_grant/efc/head/marginal_rate.yaml
Labels: ed/pell-grant

#2453 Child Health Plan Plus (CHP+)
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/co/hcpf/chp/child.yaml
  policyengine_us/parameters/gov/states/co/hcpf/chp/copays/ambulance.yaml
  policyengine_us/parameters/gov/states/co/hcpf/chp/copays/er_visit.yaml
  policyengine_us/parameters/gov/states/co/hcpf/chp/copays/imaging.yaml
  policyengine_us/parameters/gov/states/co/hcpf/chp/copays/inpatient.yaml
  policyengine_us/parameters/gov/states/co/hcpf/chp/copays/lab.yaml
  policyengine_us/parameters/gov/states/co/hcpf/chp/copays/outpatient.yaml
  policyengine_us/parameters/gov/states/co/hcpf/chp/copays/physician_services.yaml
  policyengine_us/parameters/gov/states/co/hcpf/chp/copays/prescription.yaml
  policyengine_us/parameters/gov/states/co/hcpf/chp/copays/urgent_care.yaml
  policyengine_us/parameters/gov/states/co/hcpf/chp/expenses.yaml
  policyengine_us/parameters/gov/states/co/hcpf/chp/income_limit.yaml
  policyengine_us/parameters/gov/states/co/hcpf/chp/out_of_pocket.yaml
  policyengine_us/tests/policy/baseline/gov/states/co/hcpf/chp/co_chp.yaml
  policyengine_us/tests/policy/baseline/gov/states/co/hcpf/chp/co_chp_eligible.yaml
  policyengine_us/tests/policy/baseline/gov/states/co/hcpf/chp/co_chp_out_of_pocket_maximum.yaml
  policyengine_us/variables/gov/hhs/medicaid/income/medicaid_income.py
  policyengine_us/variables/gov/states/co/hcpf/chp/co_chp.py
  policyengine_us/variables/gov/states/co/hcpf/chp/co_chp_eligible.py
  policyengine_us/variables/gov/states/co/hcpf/chp/co_chp_out_of_pocket_maximum.py
  policyengine_us/variables/household/expense/health/ambulance_expense.py
  policyengine_us/variables/household/expense/health/er_visit_expense.py
  policyengine_us/variables/household/expense/health/imaging_expense.py
  policyengine_us/variables/household/expense/health/inpatient_expense.py
  policyengine_us/variables/household/expense/health/lab_expense.py
  policyengine_us/variables/household/expense/health/outpatient_expense.py
  policyengine_us/variables/household/expense/health/physician_services_expense.py
  policyengine_us/variables/household/expense/health/prescription_expense.py
  policyengine_us/variables/household/expense/health/urgent_care_expense.py
Labels: medicaid, states/co

#2908 Kentucky Family Size Tax Credit
  changelog_entry.yaml
  docs/examples/income-sources.ipynb
  policyengine_us/parameters/gov/states/co/tax/income/credits/eitc/match.yaml
  policyengine_us/parameters/gov/states/ky/tax/income/credits/family_size/family_size_cap.yaml
  policyengine_us/parameters/gov/states/ky/tax/income/credits/family_size/rate.yaml
  policyengine_us/parameters/gov/states/ky/tax/income/credits/non_refundable.yaml
  policyengine_us/tests/policy/baseline/gov/states/co/tax/income/credits/cdcc/co_cdcc.yaml
  policyengine_us/tests/policy/baseline/gov/states/ky/tax/income/credits/ky_family_size_tax_credit/ky_family_size_tax_credit.yaml
  policyengine_us/tests/policy/baseline/gov/states/ky/tax/income/credits/ky_family_size_tax_credit/ky_family_size_tax_credit_rate.yaml
  policyengine_us/tests/policy/baseline/gov/states/ky/tax/income/credits/ky_family_size_tax_credit/ky_modified_agi.yaml
  policyengine_us/tests/policy/baseline/gov/states/ky/tax/income/ky_income_tax_before_non_refundable_credits.yaml
  policyengine_us/tests/policy/baseline/gov/states/ky/tax/income/ky_income_tax_before_refundable_credits.yaml
  policyengine_us/variables/gov/states/co/tax/income/credits/cdcc/co_cdcc.py
  policyengine_us/variables/gov/states/ky/tax/income/credits/family_size_credit/ky_family_size_tax_credit.py
  policyengine_us/variables/gov/states/ky/tax/income/credits/family_size_credit/ky_family_size_tax_credit_rate.py
  policyengine_us/variables/gov/states/ky/tax/income/credits/family_size_credit/ky_modified_agi.py
  policyengine_us/variables/gov/states/ky/tax/income/credits/ky_non_refundable_credits.py
  policyengine_us/variables/gov/states/ky/tax/income/ky_agi.py
  policyengine_us/variables/gov/states/ky/tax/income/ky_income_tax_before_non_refundable_credits.py
  policyengine_us/variables/gov/states/ky/tax/income/ky_income_tax_before_refundable_credits.py
  policyengine_us/variables/household/income/tax_unit/tax_exempt_form_4972_lumpsum_distributions.py
Labels: enhancement, tax, states/ky

#2934 Arkansas household and dependents care credit
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/ar/tax/income/credits/cdcc/README.md
  policyengine_us/parameters/gov/states/ar/tax/income/credits/cdcc/match.yaml
  policyengine_us/parameters/gov/states/ar/tax/income/credits/refundable.yaml
  policyengine_us/tests/policy/baseline/gov/states/ar/tax/income/credits/ar_cdcc.yaml
  policyengine_us/variables/gov/states/ar/tax/income/ar_refundable_credits.py
  policyengine_us/variables/gov/states/ar/tax/income/credits/ar_cdcc.py
Labels: tax, states/ar
