Repository PolicyEngine/policyengine-us, pull requests merged in 2023-07, with the labels that each got.

#2396 South Carolina EITC
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/sc/tax/income/credits/eitc/rate.yaml
  policyengine_us/tests/policy/baseline/gov/states/sc/tax/income/credits/eitc/sc_eitc.yaml
  policyengine_us/variables/gov/states/sc/tax/income/credits/eitc/sc_eitc.py
Labels: states/sc

#2126 South Carolina Senior Exemption
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/sc/tax/income/exemptions/senior/age_threshold.yaml
  policyengine_us/parameters/gov/states/sc/tax/income/exemptions/senior/amount.yaml
  policyengine_us/parameters/gov/states/sc/tax/income/exemptions/senior/spouse_amount.yaml
  policyengine_us/tests/policy/baseline/gov/states/sc/tax/income/exemptions/sc_senior_exemption.yaml
  policyengine_us/variables/gov/states/sc/tax/income/exemptions/sc_military_retirement_income_deduction_head.py
  policyengine_us/variables/gov/states/sc/tax/income/exemptions/sc_military_retirement_income_deduction_spouse.py
  policyengine_us/variables/gov/states/sc/tax/income/exemptions/sc_retirement_income_deduction_head.py
  policyengine_us/variables/gov/states/sc/tax/income/exemptions/sc_retirement_income_deduction_spouse.py
  policyengine_us/variables/gov/states/sc/tax/income/exemptions/sc_senior_exemption.py
Labels: states/sc

#2387 South Carolina CDCC
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/sc/tax/income/credits/cdcc/max_care_expense_year_offset.yaml
  policyengine_us/parameters/gov/states/sc/tax/income/credits/cdcc/rate.yaml
  policyengine_us/tests/policy/baseline/gov/states/sc/tax/income/credits/sc_cdcc.yaml
  policyengine_us/variables/gov/states/sc/tax/income/credits/cdcc/sc_cdcc.py
Labels: states/sc

#2306 New Hampshire Exemptions
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/nh/tax/income/exemptions/amount/base.yaml
  policyengine_us/parameters/gov/states/nh/tax/income/exemptions/amount/blind_addition.yaml
  policyengine_us/parameters/gov/states/nh/tax/income/exemptions/amount/disabled_addition.yaml
  policyengine_us/parameters/gov/states/nh/tax/income/exemptions/amount/old_age_addition.yaml
  policyengine_us/parameters/gov/states/nh/tax/income/exemptions/disability_age_threshold.yaml
  policyengine_us/parameters/gov/states/nh/tax/income/exemptions/old_age_eligibility.yaml
  policyengine_us/tests/policy/baseline/gov/states/nh/tax/income/exemptions/nh_base_exemption.yaml
  policyengine_us/tests/policy/baseline/gov/states/nh/tax/income/exemptions/nh_blind_exemption.yaml
  policyengine_us/tests/policy/baseline/gov/states/nh/tax/income/exemptions/nh_disabled_exemption.yaml
  policyengine_us/tests/policy/baseline/gov/states/nh/tax/income/exemptions/nh_old_age_exemption.yaml
  policyengine_us/variables/gov/states/nh/tax/income/exemptions/nh_base_exemption.py
  policyengine_us/variables/gov/states/nh/tax/income/exemptions/nh_blind_exemption.py
  policyengine_us/variables/gov/states/nh/tax/income/exemptions/nh_disabled_exemption.py
  policyengine_us/variables/gov/states/nh/tax/income/exemptions/nh_old_age_exemption.py
  policyengine_us/variables/gov/states/nh/tax/income/exemptions/nh_total_exemptions.py
Labels: tax, states/nh

#2249 Pennsylvania TANF resource limit
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/pa/dhs/tanf/resource_limit.yaml
  policyengine_us/tests/policy/baseline/gov/states/pa/tax/income/dhs/tanf/eligibility/pa_tanf_resources_eligible.yaml
  policyengine_us/variables/gov/states/pa/dhs/tanf/eligibility/pa_tanf_countable_resources.py
  policyengine_us/variables/gov/states/pa/dhs/tanf/eligibility/pa_tanf_resources_eligible.py
Labels: hhs/tanf, states/pa

#2356 Kentucky Standard Deduction
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/ky/tax/income/deductions/standard.yaml
  policyengine_us/tests/policy/baseline/gov/states/ky/tax/income/deductions/ky_standard_deduction.yaml
  policyengine_us/variables/gov/states/ky/tax/income/deductions/ky_standard_deduction.py
Labels: states/ky

#2442 Rhode Island Child and Dependent Care Credit
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/ri/tax/income/credits/cdcc/rate.yaml
  policyengine_us/tests/policy/baseline/gov/states/ri/tax/income/credits/cdcc/ri_cdcc.yaml
  policyengine_us/variables/gov/states/ri/tax/income/credits/cdcc/ri_cdcc.py
Labels: states/ri
