Repository PolicyEngine/policyengine-us, pull requests merged in 2024-09, with the labels that each got.

#5038 Separate data from package
  Makefile
  changelog_entry.yaml
  policyengine_us/data/__init__.py
  policyengine_us/system.py
  policyengine_us/tests/microsimulation/data/test_imports.py
  policyengine_us/tools/taxsim/generate_taxsim_tests.py
  setup.py
Labels: data

#5058 Update co_tanf grant standard
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/co/cdhs/tanf/grant_standard/main.yaml
Labels: hhs/tanf, states/co

#5103 Vermont tax parameters include unnecessary breakdown
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/vt/tax/income/credits/renter/fair_market_rent.yaml
  policyengine_us/parameters/gov/states/vt/tax/income/credits/renter/income_limit_ami/fifty_percent.yaml
  policyengine_us/parameters/gov/states/vt/tax/income/credits/renter/income_limit_ami/thirty_percent.yaml
Labels: states/vt

#5112 Bump US-Data
  changelog_entry.yaml
  setup.py
Labels: data

#5125 Bump PolicyEngine-US-Data
  changelog_entry.yaml
  setup.py
Labels: data

#5160 Bump PolicyEngine US data
  changelog_entry.yaml
  setup.py
Labels: data
