Repository PolicyEngine/policyengine-us, pull requests merged in 2024-01, with the labels that each got.

#3139 Virginia Spouse Tax Adjustment
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/va/tax/income/exemptions/spouse_tax_adjustment/cap.yaml
  policyengine_us/parameters/gov/states/va/tax/income/exemptions/spouse_tax_adjustment/divisor.yaml
  policyengine_us/tests/policy/baseline/gov/irs/income/taxable_income/deductions/standard_deduction/is_irs_aged.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/exemptions/va_aged_blind_exemption.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/exemptions/va_aged_blind_exemption_person.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/exemptions/va_personal_exemption.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/exemptions/va_personal_exemption_person.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/spouse_tax_adjustment/va_agi_less_exemptions_person.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/spouse_tax_adjustment/va_spouse_tax_adjustment.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/spouse_tax_adjustment/va_spouse_tax_adjustment_eligible.yaml
  policyengine_us/variables/gov/irs/income/taxable_income/deductions/standard_deduction/is_irs_aged.py
  policyengine_us/variables/gov/states/va/tax/income/exemptions/va_aged_blind_exemption.py
  policyengine_us/variables/gov/states/va/tax/income/exemptions/va_aged_blind_exemption_person.py
  policyengine_us/variables/gov/states/va/tax/income/exemptions/va_personal_exemption.py
  policyengine_us/variables/gov/states/va/tax/income/exemptions/va_personal_exemption_person.py
  policyengine_us/variables/gov/states/va/tax/income/spouse_tax_adjustment/va_agi_less_exemptions_person.py
  policyengine_us/variables/gov/states/va/tax/income/spouse_tax_adjustment/va_spouse_tax_adjustment.py
  policyengine_us/variables/gov/states/va/tax/income/spouse_tax_adjustment/va_spouse_tax_adjustment_eligible.py
  policyengine_us/variables/gov/states/va/tax/income/va_agi_person.py
Labels: state-income-tax, states/va

#2809 Virginia Low Income Credit
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/va/tax/income/credits/eitc/low_income_tax/base.yaml
  policyengine_us/parameters/gov/states/va/tax/income/credits/eitc/low_income_tax/ineligible_programs.yaml
  policyengine_us/parameters/gov/states/va/tax/income/credits/eitc/match/non_refundable.yaml
  policyengine_us/parameters/gov/states/va/tax/income/credits/eitc/match/refundable.yaml
  policyengine_us/parameters/gov/states/va/tax/income/credits/non_refundable.yaml
  policyengine_us/parameters/gov/states/va/tax/income/credits/refundable.yaml
  policyengine_us/parameters/gov/states/va/tax/income/exemptions/personal.yaml
  policyengine_us/parameters/simulation/va/branch_to_determine_if_refundable_eitc.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/credits/eitc/refundability_calculation/va_claims_refundable_eitc.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/credits/eitc/refundability_calculation/va_income_tax_if_claiming_non-refundable_eitc.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/credits/eitc/refundability_calculation/va_income_tax_if_claiming_refundable_eitc.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/credits/eitc/va_eitc.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/credits/eitc/va_eitc_person.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/credits/eitc/va_non_refundable_eitc.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/credits/eitc/va_non_refundable_eitc_if_claimed.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/credits/eitc/va_refundable_eitc_if_claimed.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/credits/low_income_credit/va_low_income_tax_credit.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/credits/low_income_credit/va_low_income_tax_credit_agi_eligible.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/credits/low_income_credit/va_low_income_tax_credit_eligible.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/deductions/integration.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/subtractions/va_age_deduction.yaml
  policyengine_us/tests/policy/baseline/gov/states/va/tax/income/va_agi_share.yaml
  policyengine_us/variables/gov/states/va/tax/income/additions/va_additions.py
  policyengine_us/variables/gov/states/va/tax/income/credits/eitc/refundability_calculation/va_claims_refundable_eitc.py
  policyengine_us/variables/gov/states/va/tax/income/credits/eitc/refundability_calculation/va_income_tax_if_claiming_non_refundable_eitc.py
  policyengine_us/variables/gov/states/va/tax/income/credits/eitc/refundability_calculation/va_income_tax_if_claiming_refundable_eitc.py
  policyengine_us/variables/gov/states/va/tax/income/credits/eitc/va_eitc.py
  policyengine_us/variables/gov/states/va/tax/income/credits/eitc/va_eitc_person.py
  policyengine_us/variables/gov/states/va/tax/income/credits/eitc/va_non_refundable_eitc.py
  policyengine_us/variables/gov/states/va/tax/income/credits/eitc/va_non_refundable_eitc_if_claimed.py
  policyengine_us/variables/gov/states/va/tax/income/credits/eitc/va_refundable_eitc.py
  policyengine_us/variables/gov/states/va/tax/income/credits/eitc/va_refundable_eitc_if_claimed.py
  policyengine_us/variables/gov/states/va/tax/income/credits/low_income_credit/va_low_income_tax_credit.py
  policyengine_us/variables/gov/states/va/tax/income/credits/low_income_credit/va_low_income_tax_credit_agi_eligible.py
  policyengine_us/variables/gov/states/va/tax/income/credits/low_income_credit/va_low_income_tax_credit_eligible.py
  policyengine_us/variables/gov/states/va/tax/income/va_agi_share.py
  policyengine_us/variables/gov/states/va/tax/income/va_income_tax.py
  policyengine_us/variables/gov/states/va/tax/income/va_non_refundable_credits.py
  policyengine_us/variables/gov/states/va/tax/income/va_refundable_credits.py
  policyengine_us/variables/gov/states/va/tax/income/va_subtractions.py
Labels: enhancement, tax, states/va

#3648 Adjust michigan disabled exemptions
  changelog_entry.yaml
  policyengine_us/parameters/gov/states/mi/tax/income/exemptions/disabled/age_limit.yaml
  policyengine_us/parameters/gov/states/mi/tax/income/exemptions/disabled/amount/base.yaml
  policyengine_us/parameters/gov/states/mi/tax/income/exemptions/disabled/amount/veteran.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/exemptions/mi_disabled_exemption_eligible_person.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/exemptions/mi_exemptions.yaml
  policyengine_us/variables/gov/states/mi/tax/income/exemptions/mi_disabled_exemption_eligible_person.py
  policyengine_us/variables/gov/states/mi/tax/income/exemptions/mi_exemptions.py
Labels: states/mi

#3623 Fix Michigan home heating credit
  changelog_entry.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/credits/home_heating/alternate/mi_alternate_home_heating_credit.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/credits/home_heating/alternate/mi_alternate_home_heating_credit_eligible.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/credits/home_heating/integration.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/credits/home_heating/mi_home_heating_credit.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/credits/home_heating/mi_home_heating_credit_eligible_rate.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/credits/home_heating/standard/mi_standard_allowance_heating_credit_eligible.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/credits/home_heating/standard/mi_standard_home_heating_credit.yaml
  policyengine_us/tests/policy/baseline/gov/states/mi/tax/income/exemptions/mi_exemptions_count.yaml
  policyengine_us/variables/gov/states/mi/tax/income/credits/home_heating/alternate/mi_alternate_home_heating_credit_eligible.py
  policyengine_us/variables/gov/states/mi/tax/income/credits/home_heating/standard/mi_standard_home_heating_credit.py
  policyengine_us/variables/gov/states/mi/tax/income/exemptions/mi_exemptions_count.py
Labels: bug, states/mi

#3665 SSI Substantial Gainful Activity
  changelog_entry.yaml
  policyengine_us/parameters/gov/ssa/sga/non_blind.yaml
  policyengine_us/tests/policy/baseline/gov/ssa/ssi/income/ssi_engaged_in_sga.yaml
  policyengine_us/tests/policy/baseline/gov/ssa/ssi/is_ssi_disabled.yaml
  policyengine_us/tests/policy/baseline/gov/ssa/ssi/uncapped_ssi.yaml
  policyengine_us/variables/gov/ssa/ssi/eligibility/income/ssi_engaged_in_sga.py
  policyengine_us/variables/gov/ssa/ssi/eligibility/status/is_ssi_disabled.py
Labels: ssi
